.textOffice{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 90px;
    text-align: justify;
    font-size: 24px;
    line-height: 28px;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.proceso
{
    font-size: 40pt;
    padding-top: 60px;
    margin-bottom: -60px;
    font-family:'Poppins',sans-serif;
    font-weight: 400;
}
.paddS
{
    padding-left: 150px;
    padding-right: 150px;
}
/* Inicio cambio imagen*/
#contenedor {
position: relative;
}
.miniatura{
z-index: 1001;
text-decoration: none;
}
.miniatura img {
border: 0px;
}
.miniatura span {
position: absolute;
text-decoration: none;
visibility: hidden;
border: 0px;
top:0px;
left:0px;
}
.miniatura:hover span {
visibility: visible;
overflow:visible;
z-index: 1002;
}
/* Fin cambio imagen*/
.colorG
{
    color: #404040;
    font-weight: 600 !important;
    letter-spacing: 0px;
}
.textcontacto{
    padding-left: 70px;
    font-size: 38px;
    color: white;
   	font-family: 'Poppins',sans-serif;
}
.tamamapa{
	width: 100%;
	height: 95%;
	margin-top: -25px;
}
.iconocontacto{
margin-top: -190px;
width: 10%;
}
.infocontacto{
	position: absolute;
	margin-top: -90px;
}
.espacioinfocontacto{
	padding-bottom: 25%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 20px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 10px;
}
.textformulario{
    font-size: 25px;
    color: white;
}

.container-info{
	max-width: 100%;
}
.container-info1{
	max-width: 100%;
}
#footer {
    background: #000000;
    border-top: 1px solid #ffffff;
    font-size: 0.9em;
    margin-top: 0px;
    padding: 0;
    position: relative;
    clear: both;
}
.imagenmuchacho{
	    width: 60%;
    margin-top: 5%;
}
.imageniconos{
	width: 30%;
}
.textoicono{
	font-size: 35px;
    margin-left: 20px;
    margin-top: 63%;
    position: absolute;
}
.h1interes{
	color: #000;
    font-size: 50px;
    margin-top: 12%;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}
.botonenviar{
	font-size: 30px;
	width: 14%;
	height: 60%;
	border-radius: 10px;
	margin-top: 50px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 35px;
    padding-left: 5px;
}
.txttitulo{
	color:#ffff;
	font-weight:bold;
	font-size:65px
}
.txttitulo1{
	color:#ffff;
	font-size:60px
}
.txttitulo2{
    color:#ffff;
    font-size:45px;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    line-height: 28pt;
}
.texthome{
	color: #fff;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    text-align: justify;
    line-height: 37px;
    padding-bottom: 3%;
}
.imagenlogohome{
	width: 65%
}
/* Add here all your CSS customizations */
@media (max-width: 991px) {
    h1 {
    font-size: 20px;
    text-align: center;
    }
    .main{
        width: 100vw!important;
    }
    .textcontacto {
        font-size: 18px;
    }
    .txttitulo1 {
        font-size: 35px;
    }
    .botonenviar {
        width: 45%;
    }
    .form-row>.col, .form-row>[class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}
    .imageniconos {
    width: 100%;
    }
    .body{
        position: relative!important;
    }
    .txttitulo {
        font-size: 30px;
    }
    .txttitulo2 {
        font-size: 30px;
    }
    .xs-botones-float{
        position: fixed;
        right: 0px;
        top: 48%;
        z-index: 1;
    }
    .whts {
        display: block!important;
        width: 50px;
        margin-bottom: 7px;
    }
    .phone{
        display: block!important;
        width: 50px;
    }
    .xs-no{
        display: none!important;
    }
    .texthome {
        font-size: 16px;
    }
    .textOffice{
        font-size: 16px;
    }
	.width-40{
		width: 40%!important;
		padding-top: 20px;
	}
	.width-60{
		width: 60%!important;
	}
	.xs-p0{
		padding-left: 0px!important;
	}
	.xs-heigth{
		height: 120px!important;
	}
	.xs-center{
		justify-content: center!important;
	}
	.sort-source > li > a {
    padding: 6px 6px!important;
    font-size: 10px!important;
}
}

@media (min-width: 769px) and (max-width: 1441px){
	.container {
    max-width: 80%;
}
.txttitulo{
	color:#ffff;
	font-weight:bold;
	font-size:50px
}
.txttitulo1{
	color:#ffff;
	font-size:45px
}
.textcontacto{
    padding-left: 45px;
    font-size: 22px;
    color: white;
   	font-family: 'Poppins',sans-serif;
}
.iconocontacto{
margin-top: -160px;
width: 15%;
}
.infocontacto{
	position: absolute;
	margin-top: -75px;
}
.espacioinfocontacto{
	padding-bottom: 25%;
}
.botonenviar{
	font-size: 25px;
	width: 18%;
	height: 55%;
	border-radius: 10px;
	margin-top: 50px;
}
.textformulario{
    font-size: 20px;
    color: white;
}
.imagenmuchacho{
	    width: 70%;
    margin-top: 10%;
}
.imageniconos{
	width: 35%;
}
.textoicono{
	font-size: 23px;
    margin-left: 15px;
    margin-top: 8%;
}
.h1interes{
	color: #000;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    font-size: 35px;
    margin-top: 20%;
    margin-bottom: 15%;
}
.texthome{
	color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    text-align: justify;
    line-height: 37px;
    padding-bottom: 3%;
}
}
/*Computadoras */
@media (min-width: 1442px) and (max-width: 2560px)
{

		.container {
    max-width: 80%;
}

	.textcontacto{
    padding-left: 70px;
    font-size: 38px;
    color: white;
   	font-family: 'Poppins',sans-serif;
}
.tamamapa{
	width: 100%;
	height: 95%;
	margin-top: -25px;
}
.iconocontacto{
margin-top: -190px;
width: 10%;
}
.infocontacto{
	position: absolute;
	margin-top: -90px;
}
.espacioinfocontacto{
	padding-bottom: 25%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 20px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 10px;
}
.textformulario{
    font-size: 25px;
    color: white;
}

.container-info{
	max-width: 100%;
}
.container-info1{
	max-width: 100%;
}
#footer {
    background: #000000;
    border-top: 1px solid #ffffff;
    font-size: 0.9em;
    margin-top: 0px;
    padding: 0;
    position: relative;
    clear: both;
}
.imagenmuchacho{
	    width: 60%;
    margin-top: 5%;
}
.imageniconos{
	width: 30%;
}
.textoicono{
	font-size: 35px;
    margin-left: 20px;
    margin-top: 9%;
}
.h1interes{
	color: #000;
    font-size: 55px;
    margin-top: 12%;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 15%;
}
.botonenviar{
	font-size: 30px;
	width: 14%;
	height: 60%;
	border-radius: 10px;
	margin-top: 50px;
}

}

